@font-face {
    font-family: "Cursiva";
    src: url("fonts/Sofia-Regular.ttf") format("truetype");
}

#galeria {
    padding-top: 15vh;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    color: cornsilk;
    padding-left: 5%;
    padding-right: 5%;
}

#galeria div {
    font-size: 10vh;
    width: 42vh;
    margin-right: 2%;
    height: 30vh;
    margin-bottom: 2%;
    margin-top: 2%;
}

#galeria img {
    width: 100%;
    height: 95%;
}

article a {
    display: flex;
    width: 100%;
    height: 8vh;
    align-content: center;

}

article {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 3vh;
    font-family: "Cursiva";
    width: 100%;
    color: brown;
    background-color: rgba(224, 170, 226, 0.8);
    text-align: center;
    box-sizing: border-box;
}